body {
    margin: 0;
    padding: 0;
   
}

h1 {
    margin: 0 auto;
}

li {
    list-style: none;
    border: 1px solid red;
    display: block;
    width: 200px;
    padding: 2rem;
    background-color: black;
}

span {
    border: 1px solid red;
    color: white;
    
}

img {
    border: 1px solid gold;
    width: 200px;
    height: auto;
    
}