@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #24292e;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    color: #fafbfc;
}

li {
    list-style: none;
    display: inline-block;
    width: 200px;
    padding: 2rem;
}


img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-bottom: 2rem;;
}

a {
    text-decoration: none;
    color: white;
    background-color: #6e5494;
    font-size: large;
    margin-left: 3rem;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    background-color:#4078c0;
    transition: ease-out 700ms;
}